<!DOCTYPE HTML>

<html>

<head>
  <title>Aide Nepal Magnoac</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua|Open+Sans" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <header class="grid-spaceBetween wrapper">
    <div class="logo col-2">
      <img src="../images/anm_logo.png" />
    </div>

    <div class="nav col-5 wrapper">
      <a href"">News and Events</a>
      <a href"">Our Story</a>
      <a href"">Support Nepal</a>
    </div>
  </header>

{{ content }}

  <footer>
    <div class="grid wrapper line">

      <div class="col-6">
        <a href="https://www.facebook.com/AideNPL/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-6">
        <a href="https://www.justgiving.com/crowdfunding/roy-francis" target="_blank">
          <div class="fakebutton">
            <h3>Donate here</h3></a>
          </div>
      </div>

    </div>

  </footer>








</body>


</html>
